@font-face {
    font-family: 'DejaWeb';
    src: url('../fonts/dejaweb.eot');
    src: url('../fonts/dejaweb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

::selection {
	background: #FF5E99;
	color: #fff;
	text-shadow: none;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body { margin: 0px; padding: 0px; background: #f4f4f4 url(../images/bg-main.png) repeat top center scroll; }
body, input, select, textarea {
	font-family: 'DejaWeb', 'Helvetica Neue', 'Arial', Sans-Serif;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 400;
	vertical-align: baseline;
	color: #404040;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(255,255,255,0.01) 0 0 1px;
}
header, section, footer, article, figure  { display:block; }
header { background: #232323; height: 55px; }
header h1 { color: #bfbfbf; margin: 0; padding: 0; height: 2.8em; line-height: 2.4em; font-size: 1.5em; font-weight: 400; }
section#content { margin-top: 50px; }
article { margin: 24px 0; padding: 12px 6px; border-bottom: 1px solid #333; font-size: 1.2em; line-height: 1.7em;}
article p { }
footer { margin-top: 2em; background: #333; padding: 10px 0; color: #bfbfbf; text-align: center; }
a, a:active, a:visited { color: #ff9f40; text-decoration: none; }
a:hover { color: #ff7f00; }
input { padding: 2px 5px; }
.inside { margin: 0 auto; width: 960px; }
#menu-placeholder { clear: both; height: 35px; background-color: #cdcdcd; }
#content {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px;
	background: #fff;
	border: 1px solid #d1d1d1;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

#content h2 { font-weight: 400; font-size: 1.6em;}
#content h3 { font-weight: 200; font-size: 1.5em;}